<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar professor</title>
</head>
<body>
    
    <h1 style="text-align: center;">lista de Professores</h1>
    <h3 style="text-align:center;">
        <a href="/alunos/criar">Novo Professor</a>
    </h3>
        <table border="1" align="center">
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Graduação</th>
                <th>CPF</th>
                <th colspan="2">Ações</th>
            </tr>
            <tr th:each="aluno:${professor}">
                <td th:text="${aluno.nomeProfessor}">*</td>
                <td th:text="${aluno.emailProfessor}">*</td>
                <td th:text="${aluno.telefoneProfessor}">*</td>
                <td th:text="${aluno.graduacaoProfessor}">*</td>
                <td th:text="${aluno.cpfProfessor}">*</td>
                <td>
                    <a th:href="@{/professores/editar/{id}(id=${professor.idProfessor})}">Editar</a>
                    <a th:href="@{/professores/excluir/{id}(id=${professor.idProfessor})}">Excluir</a>
                </td>
            </tr>
        </table>
</body>
</html>